.page {
    margin: 1em auto;
    max-width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
}

.box {
    padding: 0.5em;
    width: 100%;
    margin: 0.5em;
}

.box-2 {
    padding: 0.5em;
    width: calc(100%/2 + 4em);
    text-align: center;
}

.options label,
.options input {
    width: 100px;
    padding: 0.5em 1em;
}

.btn {
    // background: white;
    // color: black;
    // border: 1px solid black;
    // padding: 0.5em 1em;
    // text-decoration: none;
    // margin: 0.8em 0.3em;
    // display: inline-block;
    // cursor: pointer;
}

.btn-upload{

}

.hide {
    display: none;
}

img {
    max-width: 100%;
}