body{
    color: $black-color;
    font-size: $font-size-base;
    font-family: $sans-serif-family;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #F1F6FD;
}

.main{
    position: relative;
    background: $white-color;
}
/* Animations */
.nav-pills .nav-link,
.nav-item .nav-link,
.navbar,
.nav-tabs .nav-link{
    @include transition($general-transition-time, $transition-ease);
}

//transition for dropdown caret
.dropdown-toggle:after,
.bootstrap-switch-label:before{
    @include transition($fast-transition-time, $transition-ease);
}

.dropdown-toggle[aria-expanded="true"]:after{
    @include rotate-180();
}

.button-bar{
    display: block;
    position: relative;
    width: 22px;
    height: 1px;
    border-radius: 1px;
    background: $white-bg;

    & + .button-bar{
        margin-top: 7px;
    }

    &:nth-child(2){
        width: 17px;
    }
}

.open{
    @include transform-translate-y(0);
    @include opacity(1);
    visibility: visible;
}

.separator{
    height: 2px;
    width: 44px;
    background-color: $default-color;
    margin: 20px auto;

    &.separator-primary{
        background-color: $primary-color;
    }
}

/*  bhoechie tab */
div.bhoechie-tab-container{
    padding-bottom: 200px;
    margin-top: 100px;
    position: relative;
  
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  position: absolute;
  left: 30px;
  width: 250px;

  @media (max-width: 767px){
    width: 100%;
    left: 0;
    position: relative;
    }

    a{
        @media (max-width: 767px){
            margin: 15px;
        }
    }
}

.bhoechie-tab-content{
    width: 100%;
    padding-left: 350px;

    @media (max-width: 767px){
        width: 100%;
        left: 0;
        position: relative;
        margin-top: 30px;
        padding: 15px;
    }
}

div.bhoechie-tab-menu div.list-group>a{
  border: none;
  border-radius: 0;
}

div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #888;

}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #888;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #888;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

$marginValue: 20;
$props : top bottom left right;

@for $i from 1 through $marginValue { 
  @each $prop in $props {
    .m-#{$prop}-#{$i} {
      margin-#{$prop}: #{$i}px;
    }
  }
}

$spaceRange : 5;

@for $i from 1 through $spaceRange {
  .space-#{$i} {
    margin-bottom: #{$i * 12}px;
  }
}

@for $i from 1 through $spaceRange {
  .space-top-#{$i} {
    margin-top: #{$i * 6}px;
  }
}


