.navbar{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 53px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);

    a{
        vertical-align: middle;

        &:not(.btn):not(.dropdown-item){
            color: $white-color;
        }
    }

    p{
        display: inline-block;
        margin: 0;
        line-height: 21px;
    }

    .navbar-nav{
        &.navbar-logo{
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 49px;
            top: -4px;
        }

        .nav-link.btn{
            padding: $padding-btn-vertical $padding-btn-horizontal;

            &.btn-lg{
                padding: $padding-large-vertical $padding-large-horizontal;
            }

            &.btn-sm{
                padding: $padding-small-vertical $padding-small-horizontal;
            }
        }

        .nav-link{
            position: relative;
            padding: 15px 10px 15px 40px !important;
            transition: .1s ease background-color;
            display: block;
            font-family: 'Rubik';
            font-weight:500;
        }

       

        // .nav-icon{
        //     background-image: url(../img/navbar-sprites.png);
        //     background-repeat: no-repeat;
        //     background-size: 500px auto;
        //     display: block;

        //     &-dashboard{
        //         background-position: 5px -7px;
        //     }
        // }

        .nav-link:not(.btn){
            text-transform: uppercase;
            font-size: $font-size-base;
            padding: $padding-base-vertical $padding-base-horizontal;
            line-height: $line-height-nav-link;

            @media(min-width: 991px) and (max-width: 1199.98px){
                font-size:11px !important;
            }

            i.fa + p,
            i.now-ui-icons + p{
                margin-left: 5px;
            }

            i.fa,
            i.now-ui-icons{
                font-size: 18px;
                position: relative;
                top: 2px;
                text-align: center;
                width: 21px;
            }

            i.now-ui-icons{
                top: 4px;
                font-size: 16px;
            }

            &.profile-photo{
                .profile-photo-small{
                    width: 27px;
                    height: 27px;
                }
            }

            &.disabled{
                opacity: .5;
                color: $white-color;
            }
        }

        .nav-item.active .nav-link:not(.btn),
        .nav-item .nav-link:not(.btn):focus,
        .nav-item .nav-link:not(.btn):hover,
        .nav-item .nav-link:not(.btn):active{
            // background-color: $opacity-2;
            // border-radius: $border-radius-small;
            // border-bottom: 1px solid #333;
        }
    }

    .logo-container{
        width: 27px;
        height: 27px;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 50%;
        border: 1px solid transparent;
    }

    .navbar-brand{
        text-transform: uppercase;
        font-size: $font-size-small;
        padding-top: $padding-base-vertical;
        padding-bottom: $padding-base-vertical;
        line-height: $line-height-nav-link;
        img{
            width: 70px !important;
            max-width: 70px !important;
            height: auto;
        }
    }

    .navbar-toggler{
        width: 37px;
        height: 27px;
        outline: 0;
        cursor: pointer;

        &.navbar-toggler-left{
            position: relative;
            left: 0;
            padding-left: 0;
        }

        &:hover{
            & .navbar-toggler-bar.bar2{
                width: 22px;
            }
        }
    }

    .button-dropdown{
        .navbar-toggler-bar:nth-child(2){
            width: 17px;
        }
    }

    &.navbar-transparent{
        background-color: rgba(0, 0, 0, 0.6) !important;
        box-shadow: none;
        color: $white-color;
        padding-top: 0px;
    }

    &.bg-white:not(.navbar-transparent){
        a:not(.dropdown-item){
            color: $default-color;

            &.disabled{
                opacity: .5;
                color: $default-color;
            }
        }

        .button-bar{
            background: $default-color;
        }

        .nav-item{
            position: relative;
            &:hover{
                &:after{
                    width: 100%;
                    background: #E15B5D;
                }
            }
            &:after{
                content: '';
                display: block;
                margin: auto;
                height: 3px;
                width: 0px;
                bottom: -3px;
                background: transparent;
                position: relative;
                transition: width .5s ease, background-color .5s ease;
            }

            @media(max-width: 991px){
                &:hover{
                    &:after{
                        width: 100%;
                        background: transparent !important;
                    }
                }
            }
        }

        .nav-item.active{
            border-bottom: 3px solid #E15B5D;

            @media (max-width: 991px){
                border-bottom: none !important;
            }

        }

         .nav-item{
            &.active{
                border-bottom: 3px solid #E15B5D !important;
                @media(max-width: 991px){
                    border-bottom:none !important;
                }
                
                a{
                    color: #E15B5D !important;
                    @media(max-width: 991px){
                        color: #fff !important;
                        // font-weight: 900;
                    }
                }
            }
        }

        .logo-container{
            border: 1px solid $default-color;
        }
    }
}

.bg-default{
    background-color: $default-color !important;
}

.bg-primary{
    background-color: $primary-color !important;
}

.bg-info{
    background-color: $info-color !important;
}

.bg-success{
    background-color: $success-color !important;
}

.bg-danger{
    background-color: $danger-color !important;
}

.bg-warning{
    background-color: $warning-color !important;
}

.bg-white{
    background-color: $white-color !important;
    &-sm{
        @media(max-width: 991px){
            background-color: transparent;
            box-shadow: none;
        }
    }
}

.navbar-luxdraws{
    background-image: linear-gradient(-90deg, #FC6B44 0%, #9B2F9D 100%);
}

.navbar-secondary{
}
.navbar-nav .nav-item:not(:last-child) {
    margin-right: 30px !important;

    @media (min-width: 990px) and (max-width: 1199.98){
        margin-right: 20px !important;
    }
}

a.navlink{
    font-size: 12px !important;
}
