// icon prop for top nav
.navbar-secondary {
  .nav-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: -40px;
  }
}

// nav sprites
.nav-icon{
	background-image: url(../img/navbar-sprites.png);
	display: inline-block;
	background-repeat: no-repeat;
    background-size: 500px auto;
	&-dashboard{
		background-position: -2px -2px;
		.active &{
			background-position: -2px -30px;
			@media(max-width: 991px){
				background-position: -2px -62px;
			}
		}
		@media(max-width: 991px){
			background-position: -2px -62px;
		}
	}
	&-product{
		background-position: -40px -2px;
		.active &{
			background-position: -40px -30px;
			@media(max-width: 991px){
				background-position: -40px -62px;
			}
		}
		@media(max-width: 991px){
			background-position: -40px -62px;
		}
	}

	&-product-list{
		background-position: -75px -2px;
		.active &{
			background-position: -75px -30px;
			@media(max-width: 991px){
				background-position: -75px -62px;
			}
		}
		@media(max-width: 991px){
				background-position: -75px -62px;
			}
	}

	&-expired-product{
		background-position: -105px -2px;
		.active &{
			background-position: -105px -30px;
			@media(max-width: 991px){
				background-position: -105px -62px;
			}
		}
		@media(max-width: 991px){
				background-position: -105px -62px;
			}
	}
	&-active-product{
		background-position: -138px -2px;
		.active &{
			background-position: -138px -30px;
			@media(max-width: 991px){
				background-position: -138px -62px;
			}
		}

		@media(max-width: 991px){
				background-position: -138px -62px;
			}
	}
}