@import 'variables';
@import 'mixins';

/*****************************************
  upload button styles
******************************************/
// .file-upload {
// 	position: relative;
// 	display: inline-block;
// }

// .file-upload__label {
//   display: block;
//   color: #333;
//   background: #57DEB7;
//   border-radius: 4px;
//   transition: background .3s;
  
//   &:hover {
// 	cursor: pointer;
//     transition: 0.3s;
//     color: #333;
//   }
// }
    
// .file-upload__input {
//     position: absolute;
//     left: 0;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     font-size: 1;
//     width:0;
//     height: 100%;
//     opacity: 0;
// }

// #file-input {
//     display: inline-block;
//     -webkit-box-shadow: 0 5px 0 #37BB95, 0 5px 5px rgba(0, 0, 0, 0.35);
//     -moz-box-shadow: 0 5px 0 #37BB95, 0 5px 5px rgba(0, 0, 0, 0.35);
//     box-shadow: 0 5px 0 #37BB95, 0 5px 5px rgba(0, 0, 0, 0.35);
//     -webkit-transition: -webkit-box-shadow .1s ease-in-out;
//     -moz-transition: -moz-box-shadow .1s ease-in-out;
//     -o-transition: -o-box-shadow .1s ease-in-out;
//     transition: box-shadow .1s ease-in-out;
//     color: #fff;
//     transition: 0.1s;
//     position: absolute;
//     text-align: center;
//     vertical-align: middle;
//     top: -15px;
//     padding-top: 10px;
//     width: 120px;
//     height: 35px;

//     margin-top: 10px;
// }

// #file-input:active, :focus {
//     -webkit-box-shadow: 0 2px 0 #37BB95, 0 5px 5px rgba(0, 0, 0, 0.35);
//     -moz-box-shadow: 0 2px 0 #37BB95, 0 5px 5px rgba(0, 0, 0, 0.35);
//     box-shadow: 0 2px 0 #37BB95, 0 5px 5px rgba(0, 0, 0, 0.35);
//     margin-top: 3px;
//     transition: 0.1s;
// }