 @font-face {
  font-family: 'AvenirLTStd-Roman';
  src: url("../fonts/Avenir/AvenirLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fontf/Avenir/AvenirLTStd-Roman.otf") format("opentype"), url("../fontf/Avenir/AvenirLTStd-Roman.woff") format("woff"), url("../fontf/Avenir/AvenirLTStd-Roman.ttf") format("truetype"), url("../fontf/Avenir/AvenirLTStd-Roman.svg#AvenirLTStd-Roman") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AvenirLT-MediumOblique';
  src: url("../fonts/Avenir/AvenirLT-MediumOblique.eot?#iefix") format("embedded-opentype"), url("../fontf/Avenir/AvenirLT-MediumOblique.woff") format("woff"), url("../fontf/Avenir/AvenirLT-MediumOblique.ttf") format("truetype"), url("../fontf/Avenir/AvenirLT-MediumOblique.svg#AvenirLT-MediumOblique") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AvenirLT-Medium';
  src: url("../fonts/Avenir/AvenirLT-Medium.eot?#iefix") format("embedded-opentype"), url("../fontf/Avenir/AvenirLT-Medium.woff") format("woff"), url("../fontf/Avenir/AvenirLT-Medium.ttf") format("truetype"), url("../fontf/Avenir/AvenirLT-Medium.svg#AvenirLT-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AvenirLT-Black';
  src: url("../fonts/Avenir/AvenirLT-Black.eot?#iefix") format("embedded-opentype"), url("../fontf/Avenir/AvenirLT-Black.woff") format("woff"), url("../fontf/Avenir/AvenirLT-Black.ttf") format("truetype"), url("../fontf/Avenir/AvenirLT-Black.svg#AvenirLT-Black") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  color: #62737C;
  font-family: "AvenirLTStd-Roman", Helvetica Neue, Arial, sans-serif !important;
  font-size: 16px;
  // font-size: 1.6rem;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased; }

 @import "https://fonts.googleapis.com/css?family=Rubik:300,400,500|Varela+Round|Slabo+27px";
@import 'variables';
@import 'mixins';

// Plugins CSS
@import "plugins/plugin-bootstrap-switch";
@import "plugins/plugin-nouislider";
@import "plugins/plugin-datepicker";

// Core CSS
@import "buttons";
@import "inputs";
@import "checkboxes-radio";
@import "progress";
@import "badges";
@import "pagination";
@import "typography";
@import "misc";
@import "pills";

// components
@import "social-buttons";
@import "tabs";
@import "navbar";
@import "dropdown";
@import "alerts";
@import "images";
@import "popups";
@import "nucleo-outline";
@import "modals";
@import "carousel";
@import "cards";
@import "footers";
@import "sprites";

// example pages and sections
@import "example-pages";
@import "sections";
@import "cropper";


@import "responsive";







