@import 'variables';
@import 'mixins';

.bg-white-bordered{
  background: #FFFFFF;
  // box-shadow: 0 0 4px 0 rgba(0,0,0,0.20);
  border: 1px solid #C1CDDE;
  border-radius: 6px;

  @mixin add-bg-white-bordered() {
    background: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.20);
    border-radius: 6px;
  }

  &-md {
    @media (min-width: $screen-md-min) {
      @include add-bg-white-bordered;
    }
  }

  &-sm {    
    @media (min-width: $screen-sm-min) {
      @include add-bg-white-bordered;
    }
  }

  &-xs {        
    @media (max-width: $screen-xs-max) {
      @include add-bg-white-bordered();
    }
  }
}

a{
  text-decoration: none;
}


.global-padding{
  padding: 20px;

  &-more{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
}
.pt-4plus{
  padding-top: 35px;
}

.title-dotted-style{
  position: relative;
  margin-bottom: 100px;
  h4{
    background-color: #F1F6FD;
    z-index: 1;
    position: absolute;
    vertical-align: middle;
    display: inline-block;
    padding-right: 30px;
  }
  &:after{
    border-top: 2px dotted #C1CDDE;
    height: 1px;
    content: '';
    display: table;
    clear: both;
    z-index: 0;
    position: relative;
    width: 100%;
    top: calc(50% + 47px);
    @media (max-width: 992px){
      // display: none;
    }
  }
}

// .min-height-130{
//   min-height: 130px;

// }

.total-count{
  font-size: 40px;
  font-weight: 800;
}

.hide-till-sm{
 @media (max-width: 991.98px) {
    display: none;
   }
}

.product-table{
  &-title{
    display: table;
    width: 100%;
    position: relative;

    &-mobile{
      @media (max-width: 991px){
        vertical-align: top !important;
        text-transform: lowercase;
        font-size: 12px;
      }

      @media (min-width: 992px){
        display: none;
        
      }
    }
  }
}

img.product-table-image{
    width: 45px;
    height: 45px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.78);
    border-radius: 6px;
    vertical-align: middle;
    // position: absolute;
    top: calc(50% - 22px);
    left: 6px;
}

.product-table-title-p-info{
  display: table-cell;
  width: 30%;
  vertical-align: middle;

  @media (max-width: 991.98px) {
    width: 35%;
    display: inline-block;

   }

   @media (min-width: 576px) and (max-width: 768px) {
    width: 100%;
    display: block;
    margin-bottom: 30px;
   }

   @media (max-width: 576px){
    width: 100%;
    display: block;
    margin-bottom: 20px;
    padding-bottom: 20px;
    // border-bottom: 1px solid #ccc;
   }
}

.product-table-title-start{
  display: table-cell;
  width: 15%;
  vertical-align: middle;
  @media (max-width: 991.98px) {
    width: 20%;
    display: inline-block;
   }

   @media (min-width: 576px) and (max-width: 768px) {
    width: 33.3%;
    display: inline-block;
    margin-bottom: 30px;
   }

   @media (max-width: 576px){
    width: 100%;
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
   }
}

.product-table-title-end{
  display: table-cell;
  width: 15%;
  vertical-align: middle;

  @media (max-width: 991.98px) {
    width: 20%;
    display: inline-block;
   }

   @media (min-width: 576px) and (max-width: 768px) {
    width: 33.3%;
    display: inline-block;
    margin-bottom: 30px;
   }

   @media (max-width: 576px){
    width: 100%;
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
   }
}

.product-table-title-value{
  display: table-cell;
  width: 15%;
  vertical-align: middle;

  @media (max-width: 991.98px) {
    width: 10%;
    display: inline-block;
   }

   @media (min-width: 576px) and (max-width: 768px) {
    width: 33.3%;
    display: inline-block;
    margin-bottom: 30px;
   }

   @media (max-width: 576px){
    width: 100%;
    display: block;
    margin-bottom: 10px;
   }
}

.product-table-title-status{
  display: table-cell;
  width: 10%;
  vertical-align: middle;
  @media (max-width: 991.98px) {
    display: none;
   }
}

.product-table-title-action{
  display: table-cell;
  width: 15%;
  vertical-align: middle;
    a{
      &:hover, :focus{
        color: transparent !important;
    }
  }

  @media (max-width: 991.98px) {
    width: 15%;
    display: inline-block;
   }

   @media (max-width: 768px) {
    position: absolute;
    top: 0;
    right: 0;
   }

}

.p-info-title{
  color: #84868A;
  font-size: 14px;
  text-transform: lowercase;
}

.p-info-desc{
  color: #000;
  font-size: 14px;
  text-transform: capitalize;
}

.primary-color{
  color: #7D00FF;
  }

  .secondary-color{
    color: #FC6B44;
  }

  .success-color{
    color: #358433;
  }

   .expired-color{
    color: red;
  }

  .edit-btn{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #68DD84;
    transition: 0.3s;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    span{
      vertical-align: middle;
      color: #000;
      top: 1px;
      position: relative;
    }


    img{
      left: calc(50% - 6px);
      top: calc(50% - 6px);
      position: absolute;
    }

    &:hover{
      filter:contrast(200%);
      transition: 0.3s;

    }
  }

   .delete-btn{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #F63838;
    transition: 0.3s;
    display: inline-block;
    position: relative;
    vertical-align: middle;

    span{
      vertical-align: middle;
      color: #FFF;
      top: 1px;
      position: relative;
      font-weight: 500;
    }

    img{
      left: calc(50% - 6px);
      top: calc(50% - 6px);
      position: absolute;
    }

    &:hover{
      filter:contrast(200%);
      transition: 0.3s;

    }
  }

  .mobile{
    &-active{
      display: none;
      @media(max-width: 992px){
        background-color: #68DD84;
        transition: 0.3s;
        display: inline-block;
        position: relative;
        padding: 2px 5px;
        border-radius: 10px;
        font-size: 10px;
        color: #000;
      }
    }

    &-expired{
      display: none;
      @media(max-width: 992px){
        background-color: red;
        transition: 0.3s;
        display: inline-block;
        position: relative;
        padding: 2px 5px;
        border-radius: 10px;
        font-size: 10px;
        color: #fff;
      }
    }
  }

  .extra-style{

    @media (min-width: 576px) and (max-width: 768px){
      float: left; margin-right: 20%;
    }

  }

  .btn-save{
    background-color: #FF7A4D;
    height: 45px;
    width: 170px;
    border: none;
    color: #fff !important;
    text-transform: uppercase;
  }

  .color-blue{
    color: #1787E3;
  }

  .color-pink{
    color: #F45C7F;
  }

  .color-orange{
    color: #FF7A00;
  }

  .btn{
    @media (min-width: 576px) and (max-width: 768px){
      padding: 10px !important; 
    }
  }

//
// Presentation slides
//
.slide {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  color: #fff;
  padding-top: 40px;
  
  .ui-widget {
    margin-top: -20px;
  }
    
  p {
    margin-top: 0;
    margin-bottom: 7px;
    letter-spacing: 0.03em;
    font-size: 16px;
    font-weight: 500;
  }
    
  input[type="text"] {
    height: 51px;
    width: 300px;
    padding: 12px 20px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    color: #8a8a8a;
    font-size: 16px;
    transition: box-shadow 0.3s ease-in;
    outline: 0 none;
    
    &:focus {
      // box-shadow: 0 3px 8px rgba(0,0,0,0.25);
      border-radius: 5px 5px 0 0;
    }
    
  }
      
}

.ui-autocomplete {
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  color: #333;
  width: 300px;
  margin-top: -5px;
  
  &.animated {
    animation-duration: 0.7s;
  }
  
}

.ui-menu-item-wrapper {
    color: #333;
    padding: 5px 7px;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid #fff;
    background-color: #fff;
    list-style: none;
    width: 300px;
    height: 50px;
    padding-top: 15px;
    vertical-align: middle;
    cursor: pointer;
  
    &.ui-state-active {
      margin: 0;
      background-color: #F4C976;
      border-color: #ededed;
      color: #333;
      width: 300px;
      height: 50px;
    }

}

ul{
  padding: 0;
  li{
    list-style: none;
  }
}


.history{
  &-table{
    display: table;
    width: 100%;

    &-date{
      display: table-cell;
      width: 20%;

      @media (min-width: 576px) and (max-width: 992px){
        width: 50%;
        display: inline-block;
      }

      @media (max-width: 576px){
        width: 100%;
        display: block;
            border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
      }
    }

    &-user{
      display: table-cell;
      width: 20%;
      @media (min-width: 576px) and (max-width: 992px){
        width: 50%;
        display: inline-block;
      }
      @media (max-width: 576px){
        width: 100%;
        display: block;
            border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
      }
    }

    &-purchased{
      display: table-cell;
      width: 20%;
      @media (min-width: 576px) and (max-width: 992px){
        width: 50%;
        display: inline-block;
      }
      @media (max-width: 576px){
        width: 100%;
        display: block;
            border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
      }
    }

    &-ticketno{
      display: table-cell;
      width: 20%;
      @media (min-width: 576px) and (max-width: 992px){
        width: 50%;
        display: inline-block;
      }
      @media (max-width: 576px){
        width: 100%;
        display: block;
            border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
      }
    }

    &-value{
      display: table-cell;
      width: 20%;
      @media (min-width: 576px) and (max-width: 992px){
        width: 50%;
        display: inline-block;
      }
      @media (max-width: 576px){
        width: 100%;
        display: block;
      }
    }
  }
}

.hist-titles{
  color: #84868A;
  font-size: 14px;
}

.bg-white-sm {
  @media (max-width: 991px){
      background-color: transparent !important;
      box-shadow: none;
  }
}

.wrapper{
  padding-top: 150px;

  @media (max-width: 991px){
    padding-top: 100px;
  }
}

.mobile-border-bottom{
  @media (max-width: 576px){
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
}


.w-xs-100{
  @media (max-width: 576px){
    width: 100% !important;
  }
}

.ml-xs-none{
  @media (max-width: 575px){
    margin-left: 0 !important;
  }
}

.w-300{
  @media (min-width: 991px){
    width: 300px !important;
  }
}
