@font-face {
  font-family: 'AvenirLTStd-Roman';
  src: url("../fonts/Avenir/AvenirLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/AvenirLTStd-Roman.otf") format("opentype"), url("../fonts/Avenir/AvenirLTStd-Roman.woff") format("woff"), url("../fonts/Avenir/AvenirLTStd-Roman.ttf") format("truetype"), url("../fonts/Avenir/AvenirLTStd-Roman.svg#AvenirLTStd-Roman") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AvenirLT-MediumOblique';
  src: url("../fonts/Avenir/AvenirLT-MediumOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/AvenirLT-MediumOblique.woff") format("woff"), url("../fonts/Avenir/AvenirLT-MediumOblique.ttf") format("truetype"), url("../fonts/Avenir/AvenirLT-MediumOblique.svg#AvenirLT-MediumOblique") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AvenirLT-Medium';
  src: url("../fonts/Avenir/AvenirLT-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/AvenirLT-Medium.woff") format("woff"), url("../fonts/Avenir/AvenirLT-Medium.ttf") format("truetype"), url("../fonts/Avenir/AvenirLT-Medium.svg#AvenirLT-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AvenirLT-Black';
  src: url("../fonts/Avenir/AvenirLT-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/AvenirLT-Black.woff") format("woff"), url("../fonts/Avenir/AvenirLT-Black.ttf") format("truetype"), url("../fonts/Avenir/AvenirLT-Black.svg#AvenirLT-Black") format("svg");
  font-weight: normal;
  font-style: normal; }

/*     brand Colors              */
/*      light colors         */
/*****************************************
  upload button styles
******************************************/
