@font-face {
  font-family: 'AvenirLTStd-Roman';
  src: url("../fonts/Avenir/AvenirLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/AvenirLTStd-Roman.otf") format("opentype"), url("../fonts/Avenir/AvenirLTStd-Roman.woff") format("woff"), url("../fonts/Avenir/AvenirLTStd-Roman.ttf") format("truetype"), url("../fonts/Avenir/AvenirLTStd-Roman.svg#AvenirLTStd-Roman") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AvenirLT-MediumOblique';
  src: url("../fonts/Avenir/AvenirLT-MediumOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/AvenirLT-MediumOblique.woff") format("woff"), url("../fonts/Avenir/AvenirLT-MediumOblique.ttf") format("truetype"), url("../fonts/Avenir/AvenirLT-MediumOblique.svg#AvenirLT-MediumOblique") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AvenirLT-Medium';
  src: url("../fonts/Avenir/AvenirLT-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/AvenirLT-Medium.woff") format("woff"), url("../fonts/Avenir/AvenirLT-Medium.ttf") format("truetype"), url("../fonts/Avenir/AvenirLT-Medium.svg#AvenirLT-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AvenirLT-Black';
  src: url("../fonts/Avenir/AvenirLT-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir/AvenirLT-Black.woff") format("woff"), url("../fonts/Avenir/AvenirLT-Black.ttf") format("truetype"), url("../fonts/Avenir/AvenirLT-Black.svg#AvenirLT-Black") format("svg");
  font-weight: normal;
  font-style: normal; }

/*     brand Colors              */
/*      light colors         */
.bg-white-bordered {
  background: #FFFFFF;
  border: 1px solid #C1CDDE;
  border-radius: 6px; }
  @media (min-width: 992px) {
    .bg-white-bordered-md {
      background: #FFFFFF;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
      border-radius: 6px; } }
  @media (min-width: 768px) {
    .bg-white-bordered-sm {
      background: #FFFFFF;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
      border-radius: 6px; } }
  @media (max-width: 767px) {
    .bg-white-bordered-xs {
      background: #FFFFFF;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
      border-radius: 6px; } }

a {
  text-decoration: none; }

.global-padding {
  padding: 20px; }
  .global-padding-more {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px; }

.pt-4plus {
  padding-top: 35px; }

.title-dotted-style {
  position: relative;
  margin-bottom: 100px; }
  .title-dotted-style h4 {
    background-color: #F1F6FD;
    z-index: 1;
    position: absolute;
    vertical-align: middle;
    display: inline-block;
    padding-right: 30px; }
  .title-dotted-style:after {
    border-top: 2px dotted #C1CDDE;
    height: 1px;
    content: '';
    display: table;
    clear: both;
    z-index: 0;
    position: relative;
    width: 100%;
    top: calc(50% + 47px); }

.total-count {
  font-size: 40px;
  font-weight: 800; }

@media (max-width: 991.98px) {
  .hide-till-sm {
    display: none; } }

.product-table-title {
  display: table;
  width: 100%;
  position: relative; }
  @media (max-width: 991px) {
    .product-table-title-mobile {
      vertical-align: top !important;
      text-transform: lowercase;
      font-size: 12px; } }
  @media (min-width: 992px) {
    .product-table-title-mobile {
      display: none; } }

img.product-table-image {
  width: 45px;
  height: 45px;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.78);
  border-radius: 6px;
  vertical-align: middle;
  top: calc(50% - 22px);
  left: 6px; }

.product-table-title-p-info {
  display: table-cell;
  width: 30%;
  vertical-align: middle; }
  @media (max-width: 991.98px) {
    .product-table-title-p-info {
      width: 35%;
      display: inline-block; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .product-table-title-p-info {
      width: 100%;
      display: block;
      margin-bottom: 30px; } }
  @media (max-width: 576px) {
    .product-table-title-p-info {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      padding-bottom: 20px; } }

.product-table-title-start {
  display: table-cell;
  width: 15%;
  vertical-align: middle; }
  @media (max-width: 991.98px) {
    .product-table-title-start {
      width: 20%;
      display: inline-block; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .product-table-title-start {
      width: 33.3%;
      display: inline-block;
      margin-bottom: 30px; } }
  @media (max-width: 576px) {
    .product-table-title-start {
      width: 100%;
      display: block;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ccc; } }

.product-table-title-end {
  display: table-cell;
  width: 15%;
  vertical-align: middle; }
  @media (max-width: 991.98px) {
    .product-table-title-end {
      width: 20%;
      display: inline-block; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .product-table-title-end {
      width: 33.3%;
      display: inline-block;
      margin-bottom: 30px; } }
  @media (max-width: 576px) {
    .product-table-title-end {
      width: 100%;
      display: block;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ccc; } }

.product-table-title-value {
  display: table-cell;
  width: 15%;
  vertical-align: middle; }
  @media (max-width: 991.98px) {
    .product-table-title-value {
      width: 10%;
      display: inline-block; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .product-table-title-value {
      width: 33.3%;
      display: inline-block;
      margin-bottom: 30px; } }
  @media (max-width: 576px) {
    .product-table-title-value {
      width: 100%;
      display: block;
      margin-bottom: 10px; } }

.product-table-title-status {
  display: table-cell;
  width: 10%;
  vertical-align: middle; }
  @media (max-width: 991.98px) {
    .product-table-title-status {
      display: none; } }

.product-table-title-action {
  display: table-cell;
  width: 15%;
  vertical-align: middle; }
  .product-table-title-action a:hover, .product-table-title-action a :focus {
    color: transparent !important; }
  @media (max-width: 991.98px) {
    .product-table-title-action {
      width: 15%;
      display: inline-block; } }
  @media (max-width: 768px) {
    .product-table-title-action {
      position: absolute;
      top: 0;
      right: 0; } }

.p-info-title {
  color: #84868A;
  font-size: 14px;
  text-transform: lowercase; }

.p-info-desc {
  color: #000;
  font-size: 14px;
  text-transform: capitalize; }

.primary-color {
  color: #7D00FF; }

.secondary-color {
  color: #FC6B44; }

.success-color {
  color: #358433; }

.expired-color {
  color: red; }

.edit-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #68DD84;
  transition: 0.3s;
  display: inline-block;
  position: relative;
  vertical-align: middle; }
  .edit-btn span {
    vertical-align: middle;
    color: #000;
    top: 1px;
    position: relative; }
  .edit-btn img {
    left: calc(50% - 6px);
    top: calc(50% - 6px);
    position: absolute; }
  .edit-btn:hover {
    filter: contrast(200%);
    transition: 0.3s; }

.delete-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #F63838;
  transition: 0.3s;
  display: inline-block;
  position: relative;
  vertical-align: middle; }
  .delete-btn span {
    vertical-align: middle;
    color: #FFF;
    top: 1px;
    position: relative;
    font-weight: 500; }
  .delete-btn img {
    left: calc(50% - 6px);
    top: calc(50% - 6px);
    position: absolute; }
  .delete-btn:hover {
    filter: contrast(200%);
    transition: 0.3s; }

.mobile-active {
  display: none; }
  @media (max-width: 992px) {
    .mobile-active {
      background-color: #68DD84;
      transition: 0.3s;
      display: inline-block;
      position: relative;
      padding: 2px 5px;
      border-radius: 10px;
      font-size: 10px;
      color: #000; } }

.mobile-expired {
  display: none; }
  @media (max-width: 992px) {
    .mobile-expired {
      background-color: red;
      transition: 0.3s;
      display: inline-block;
      position: relative;
      padding: 2px 5px;
      border-radius: 10px;
      font-size: 10px;
      color: #fff; } }

@media (min-width: 576px) and (max-width: 768px) {
  .extra-style {
    float: left;
    margin-right: 20%; } }

.btn-save {
  background-color: #FF7A4D;
  height: 45px;
  width: 170px;
  border: none;
  color: #fff !important;
  text-transform: uppercase; }

.color-blue {
  color: #1787E3; }

.color-pink {
  color: #F45C7F; }

.color-orange {
  color: #FF7A00; }

@media (min-width: 576px) and (max-width: 768px) {
  .btn {
    padding: 10px !important; } }

.slide {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  color: #fff;
  padding-top: 40px; }
  .slide .ui-widget {
    margin-top: -20px; }
  .slide p {
    margin-top: 0;
    margin-bottom: 7px;
    letter-spacing: 0.03em;
    font-size: 16px;
    font-weight: 500; }
  .slide input[type="text"] {
    height: 51px;
    width: 300px;
    padding: 12px 20px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    color: #8a8a8a;
    font-size: 16px;
    transition: box-shadow 0.3s ease-in;
    outline: 0 none; }
    .slide input[type="text"]:focus {
      border-radius: 5px 5px 0 0; }

.ui-autocomplete {
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  color: #333;
  width: 300px;
  margin-top: -5px; }
  .ui-autocomplete.animated {
    animation-duration: 0.7s; }

.ui-menu-item-wrapper {
  color: #333;
  padding: 5px 7px;
  font-family: "Open Sans",Arial,sans-serif;
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid #fff;
  background-color: #fff;
  list-style: none;
  width: 300px;
  height: 50px;
  padding-top: 15px;
  vertical-align: middle;
  cursor: pointer; }
  .ui-menu-item-wrapper.ui-state-active {
    margin: 0;
    background-color: #F4C976;
    border-color: #ededed;
    color: #333;
    width: 300px;
    height: 50px; }

ul {
  padding: 0; }
  ul li {
    list-style: none; }

.history-table {
  display: table;
  width: 100%; }
  .history-table-date {
    display: table-cell;
    width: 20%; }
    @media (min-width: 576px) and (max-width: 992px) {
      .history-table-date {
        width: 50%;
        display: inline-block; } }
    @media (max-width: 576px) {
      .history-table-date {
        width: 100%;
        display: block;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        margin-bottom: 10px; } }
  .history-table-user {
    display: table-cell;
    width: 20%; }
    @media (min-width: 576px) and (max-width: 992px) {
      .history-table-user {
        width: 50%;
        display: inline-block; } }
    @media (max-width: 576px) {
      .history-table-user {
        width: 100%;
        display: block;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        margin-bottom: 10px; } }
  .history-table-purchased {
    display: table-cell;
    width: 20%; }
    @media (min-width: 576px) and (max-width: 992px) {
      .history-table-purchased {
        width: 50%;
        display: inline-block; } }
    @media (max-width: 576px) {
      .history-table-purchased {
        width: 100%;
        display: block;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        margin-bottom: 10px; } }
  .history-table-ticketno {
    display: table-cell;
    width: 20%; }
    @media (min-width: 576px) and (max-width: 992px) {
      .history-table-ticketno {
        width: 50%;
        display: inline-block; } }
    @media (max-width: 576px) {
      .history-table-ticketno {
        width: 100%;
        display: block;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        margin-bottom: 10px; } }
  .history-table-value {
    display: table-cell;
    width: 20%; }
    @media (min-width: 576px) and (max-width: 992px) {
      .history-table-value {
        width: 50%;
        display: inline-block; } }
    @media (max-width: 576px) {
      .history-table-value {
        width: 100%;
        display: block; } }

.hist-titles {
  color: #84868A;
  font-size: 14px; }

@media (max-width: 991px) {
  .bg-white-sm {
    background-color: transparent !important;
    box-shadow: none; } }

.wrapper {
  padding-top: 150px; }
  @media (max-width: 991px) {
    .wrapper {
      padding-top: 100px; } }

@media (max-width: 576px) {
  .mobile-border-bottom {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc; } }

@media (max-width: 576px) {
  .w-xs-100 {
    width: 100% !important; } }

@media (max-width: 575px) {
  .ml-xs-none {
    margin-left: 0 !important; } }

@media (min-width: 991px) {
  .w-300 {
    width: 300px !important; } }
