/*     brand Colors              */
/*      light colors         */
.bg-white-bordered {
  background: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px; }
  @media (min-width: 992px) {
    .bg-white-bordered-md {
      background: #FFFFFF;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
      border-radius: 6px; } }
  @media (min-width: 768px) {
    .bg-white-bordered-sm {
      background: #FFFFFF;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
      border-radius: 6px; } }
  @media (max-width: 767px) {
    .bg-white-bordered-xs {
      background: #FFFFFF;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
      border-radius: 6px; } }

a {
  text-decoration: none; }

.global-padding {
  padding: 20px; }
  .global-padding-more {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px; }

.pt-4plus {
  padding-top: 35px; }

.title-dotted-style {
  position: relative;
  margin-bottom: 100px; }
  .title-dotted-style h4 {
    background-color: #F1F6FD;
    z-index: 1;
    position: absolute;
    vertical-align: middle;
    display: inline-block;
    padding-right: 30px; }
  .title-dotted-style:after {
    border-top: 2px dotted #C1CDDE;
    height: 1px;
    content: '';
    display: table;
    clear: both;
    z-index: 0;
    position: relative;
    width: 100%;
    top: calc(50% + 47px); }

.total-count {
  font-size: 40px;
  font-weight: 800; }

@media (max-width: 991.98px) {
  .hide-till-sm {
    display: none; } }

.product-table-title {
  display: table;
  width: 100%;
  position: relative; }
  @media (max-width: 991px) {
    .product-table-title-mobile {
      vertical-align: top !important;
      text-transform: lowercase;
      font-size: 12px; } }
  @media (min-width: 992px) {
    .product-table-title-mobile {
      display: none; } }

.product-table-title-p-info {
  display: table-cell;
  width: 30%;
  vertical-align: middle; }
  @media (max-width: 991.98px) {
    .product-table-title-p-info {
      width: 35%;
      display: inline-block; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .product-table-title-p-info {
      width: 100%;
      display: block;
      margin-bottom: 30px; } }
  @media (max-width: 576px) {
    .product-table-title-p-info {
      width: 100%;
      display: block;
      margin-bottom: 30px; } }

.product-table-title-start {
  display: table-cell;
  width: 15%;
  vertical-align: middle; }
  @media (max-width: 991.98px) {
    .product-table-title-start {
      width: 20%;
      display: inline-block; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .product-table-title-start {
      width: 33.3%;
      display: inline-block;
      margin-bottom: 30px; } }
  @media (max-width: 576px) {
    .product-table-title-start {
      width: 100%;
      display: block;
      margin-bottom: 30px; } }

.product-table-title-end {
  display: table-cell;
  width: 15%;
  vertical-align: middle; }
  @media (max-width: 991.98px) {
    .product-table-title-end {
      width: 20%;
      display: inline-block; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .product-table-title-end {
      width: 33.3%;
      display: inline-block;
      margin-bottom: 30px; } }
  @media (max-width: 576px) {
    .product-table-title-end {
      width: 100%;
      display: block;
      margin-bottom: 30px; } }

.product-table-title-value {
  display: table-cell;
  width: 15%;
  vertical-align: middle; }
  @media (max-width: 991.98px) {
    .product-table-title-value {
      width: 10%;
      display: inline-block; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .product-table-title-value {
      width: 33.3%;
      display: inline-block;
      margin-bottom: 30px; } }
  @media (max-width: 576px) {
    .product-table-title-value {
      width: 100%;
      display: block;
      margin-bottom: 30px; } }

.product-table-title-status {
  display: table-cell;
  width: 10%;
  vertical-align: middle; }
  @media (max-width: 991.98px) {
    .product-table-title-status {
      display: none; } }

.product-table-title-action {
  display: table-cell;
  width: 15%;
  vertical-align: middle; }
  .product-table-title-action a:hover, .product-table-title-action a :focus {
    color: transparent !important; }
  @media (max-width: 991.98px) {
    .product-table-title-action {
      width: 15%;
      display: inline-block; } }
  @media (max-width: 768px) {
    .product-table-title-action {
      position: absolute;
      top: 0;
      right: 0; } }

.p-info-title {
  color: #84868A;
  font-size: 14px;
  text-transform: lowercase; }

.p-info-desc {
  color: #000;
  font-size: 14px;
  text-transform: capitalize; }

.primary-color {
  color: #7D00FF; }

.secondary-color {
  color: #FC6B44; }

.success-color {
  color: #358433; }

.edit-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #68DD84;
  transition: 0.3s;
  display: inline-block;
  position: relative;
  vertical-align: middle; }
  .edit-btn span {
    vertical-align: middle;
    color: #000;
    top: 1px;
    position: relative; }
  .edit-btn img {
    left: calc(50% - 6px);
    top: calc(50% - 6px);
    position: absolute; }
  .edit-btn:hover {
    filter: contrast(200%);
    transition: 0.3s; }

.delete-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #F63838;
  transition: 0.3s;
  display: inline-block;
  position: relative; }
  .delete-btn span {
    vertical-align: middle;
    color: #FFF;
    top: 1px;
    position: relative;
    font-weight: 500; }
  .delete-btn img {
    left: calc(50% - 6px);
    top: calc(50% - 6px);
    position: absolute; }
  .delete-btn:hover {
    filter: contrast(200%);
    transition: 0.3s; }

.mobile-active {
  display: none; }
  @media (max-width: 992px) {
    .mobile-active {
      background-color: #68DD84;
      transition: 0.3s;
      display: inline-block;
      position: relative;
      padding: 2px 5px;
      border-radius: 10px;
      font-size: 10px;
      color: #000; } }

@media (min-width: 576px) and (max-width: 768px) {
  .extra-style {
    float: left;
    margin-right: 20%; } }
